body {
    font-size: 200%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.grid-item {
    text-align: center;
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(25,1fr);
    grid-template-rows: repeat(12,1fr);
    row-gap: 10px;
    column-gap: 10px;
}

@media (max-width: 600px){
    body{
        font-size: 150%;
        background-color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(15,1fr);
        row-gap: 10px;
        column-gap: 10px;
    }
}



